h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-family: 'Oswald', sans-serif;
}

p, ul, ol {
	font-family: 'PT Sans', Arial, Helvetica, sans-serif;
}

button, input[type="text"], input[type="email"], input[type="password"] {
	border:none;
	border:1px solid #000;
	background-color: #fff;
	font-family: 'Oswald', sans-serif;
	font-size:12px;
	text-transform: uppercase;
	font-weight: lighter;
	padding:5px;
}

img {
	max-width: 100%;
}



/* Base Classes */

.container {
	max-width: 1170px;
	margin-left:auto;
	margin-right: auto;
}

.logo {
	text-align: center;
}

/* Header Classes */

.header {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	padding:5px;
	border:3px solid #000;
}

.inner-wrapper {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	padding:10px;
	border:1px solid #000;
	position: relative;
}

.left-align {
	font-family: 'Oswald', sans-serif;
	font-weight: lighter;
	font-size: 11px;
	letter-spacing: 2px;
	line-height: 22px;
	position: absolute;
	left:0px;
	top:0px;
	padding:10px;
	margin:0px;
}

.right-align {
	font-family: 'Oswald', sans-serif;
	position: absolute;
	right:0px;
	top:0px;
	padding:10px;
	margin:0px;
}

.navigation {
	border: 1px solid #000;
	border-top:none;
	padding:10px;
}

.navigation ul {
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: lighter;
	text-transform: uppercase;
	padding:0px;
	margin:0px;
}

.navigation ul li {
	display: inline-block;
	vertical-align: top;
	padding-left:25px;
	padding-right: 25px;
}

.navigation li:first-of-type {
	padding-left: 0px;
}

/* Slider */

.slider {
	width: 100%;
	height: 499px;
	background-image:url('images/slide-bkg.jpg');
}

.slider .container {
	position: relative;
}

.slide {
	position: absolute;
	width: 100%;
	height:499px;
	text-align: center;
}

/* Homepage */

.half-column {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	width: 50%;
	display: inline-block;
	vertical-align:top;
}

.half-column:first-of-type {
	padding-right: 25px;
}

.half-column:last-of-type {
	padding-left: 25px;
}

.half-column .box {
	text-align: center;
}

.third-column {
	width: 33.333%;
	display:inline-block;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	vertical-align: top;
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
}

.third-column:first-of-type {
	padding:0px;
}

.third-column:last-of-type {
	padding:0px;
}

.box {
	width: 100%;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	padding:5px;
	border:3px solid #000;
}

/* Products */

.widget {
	margin-top: 35px;
	margin-bottom: 35px;
	border-top:1px solid #000;
	font-size: 0px;
}

.widget h3 {
	font-size:28px;
}


.widget h4 {
	font-size:24px;
}

.widget p {
	font-size: 12px;
}

/* Products */

.product {
	display: inline-block;
	width: 25%;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: top;
	text-align: center;
}

/* Brands */

.brands img {
	display: inline-block;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	padding:10px;
	width: 12.5%;
	opacity: .6;
}

.brands img:hover {
	opacity:1;
	border:1px solid #000;
}

/* News */
